<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	{% block head %}{% endlock %}
	<title>{% block title %}{{ site.name }}{% endblock %}</title>
	<link href='http://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ static_url("css/style.css") }}" type="text/css" />
    <link rel="stylesheet" href="{{ static_url("css/pygments_style.css") }}" type="text/css" />
    <link rel="alternate" type="application/rss+xml" href="{{ url_for('feed') }}" title="{{ site.name }}" /></head>
    {{ analytics() }}
    <style>
    body{
    	background-color: #e2e2e9;
    }
    div{
    	margin:10px;
    	width:1000px;
    }
    </style>
</head>

<body>
<header>
	<img src="http://farm4.staticflickr.com/3752/9436685808_ff3fd6be7c_m.jpg" class="img-circle" style= "display:inline">
    <h3 style= "display:inline">Potato,Life</h3>
</header>
</body>
</html>