{% from "utils.html" import analytics %}

<html>
<head>
	<meta charset="utf-8">
	{% block head %}{% endblock %}
	<title>{% block title %}{{ site.name }}{% endblock %}</title>
	<link href='http://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ static_url("css/style.css") }}" type="text/css" />
    <link rel="stylesheet" href="{{ static_url("css/pygments_style.css") }}" type="text/css" />
    <link rel="alternate" type="application/rss+xml" href="{{ url_for('feed') }}" title="{{ site.name }}" />
    {{ analytics() }}
    <style>
    body{
    	background-color: #fff;
        margin-left: 10px;
        margin-right: 10px;
    }
    div{
    	margin:10px;
    }
    p{
        font-size: 20px;
    }
    </style>
</head>

<body>
<header>
<div>
	<img src="theme.imge_path" class="img-circle" style= "display:inline">
    <h3 style= "display:inline">{{ site.description }}</h3>
</div>
</header>
<div id="content">
    {% block content %}
    {% endblock %}
</div>
</body>