{% extends 'layout.html' %}

{% block content %}
{% for post in pagination.items %}
<div class="span9 box">
    <legend>
        <h2 class="article_title title"><a href="{{ url_for(post) }}">{{ post.title }}</a></h2>
    </legend>
    <div class="text">
        <p>{{ post.content }}</p>
    </div>
    <hr/>
    <div class="meta">
        <span>tagged:</span>
        {% for tag in post.tags %}
        <a class="tag" href="{{ url_for(tag) }}">{{ tag.name }}</a>
        {% endfor %}
        <p style="float: right;font-size: 15px">{{ post.date }}</p>
    </div>
</div>
{% endfor %}

{% block button %}
{% if pagination.has_prev %}
<a href="{{ pagination.prev_permalink }}" class="button glow button-rounded button-flat-primary" style="float:left;">Prev</a>
{% endif %}

{% if pagination.has_next %}
<a href="{{ pagination.next_permalink }}" class="button glow button-rounded button-flat-primary" style="float:right;">Next</a>
{% endif %}
{% endblock %}

{% endblock %}
