{% extends 'layout.html' %}
{% from 'utils.html' import render_comment, meta %}

{% block head %}
{{ meta() }}
{% endblock %}

{% block title %}
{{ title }} | {{ site.name }}
{% endblock %}

{% block content %}
<div class="span9 box">
    <legend>
        <h2 class="article_title title"><a href="#">{{ title }}</a></h2>
    </legend>
    <div class="text">
        <p>{{ content }}</p>
    </div>
    <hr/>
    {% if tags %}
    <div class="meta">
        <span>tagged:</span>
        {% for tag in tags %}
        <a class="tag" href="{{ url_for(tag) }}">{{ tag.name }}</a>
        {% endfor %}
        <p style="float: right;font-size: 15px">{{ date }}</p>
    </div>
    {% endif %}
</div>
{% endblock %}
